* {
    margin: 0;
    padding: 0;
}

input {
    padding-left: 10px;
    color: rgb(246, 182, 87);
}

body {
    background-color: #000000;
}

header {
    max-height: 200px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0;
}

.circulo {
    height: 95px;
    width: 104px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    bottom: 250px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-color: #141414;
}

.logo {
    height: 150px;
    width: 300px;
    position: relative;
    z-index: 4;
    bottom: 130px;
    background-position: center;
    background-image: url('logo2.png');
    background-repeat: no-repeat;
    background-size: 90px 60px;
    
}

.wallpapper {
    height: 200px;
    width: 320px;
    position: relative;
    padding: 0 0;
    bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('candlestick1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 320px 150px;
  }

#legenda {
    height: 105px;
    width: 320px;
    position: relative;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-image: url('profissao2.jpg');
    background-repeat: no-repeat;
    background-size: 320px 100px;
}

.description {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    text-align: justify;
    color: #b45f06;
    line-height: 18px;
    margin-top: 8px;
}

#informacoes {
    max-width: 320px;;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    
}

h2 {
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #ec5c2a;
    padding: 8px 16px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 8px;
    color: white;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 8px;
    margin-top: 12px;
    display: flex;
}

.details {
    max-width: 320px;
    
}

.redes-sociais {
    height: 150px;
  }
  
.redes-sociais h2 {
    margin-top: 25px;
    margin-bottom: 12px;
  }
  
.redes-sociais nav {
    display: flex;
    flex-direction: column;
  }
  
.redes-sociais nav a {
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    transition: filter 0.2s;
    text-align: center;
  }
  
.redes-sociais nav a:hover {
    filter: brightness(2.0);
  }
  
.redes-sociais nav a i {
    margin-right: 8px;
  }


